// Colors
$active-color: #323283;
$soft-black: #333;
$link-orange: #db8b0a;

//Thresholds
$threshold-m: 'screen and (max-width: 700px)';

// Timeline Colors
$timeline_era--trace-color: #800000;

// Current options: 1, 2 - any others will produce an error
$theme: '2';
