// Colors
$active-color: #323283;
$soft-black: #333;
$link-orange: #db8b0a;

//Thresholds
$threshold-m: 'screen and (max-width: 700px)';

// Timeline Colors
$timeline_era--trace-color: #800000;

//theme test -- Some colors I put together for a specific theme.
$t1_bg: #242331;
$t1_h1: #067bc2;
$t1_h2: #368cc1;
$t1_h3: #5b9ac1;
$t1_h4: #d56062;
$t1_h5: #ed5355;
$t1_link: #f37748;

// Quick Animations
/// Put this on all the elements in a page to make them slowly rise and fall is if breathing. If employed on some sort of horror themed page, this kind of subtle animation can make the reader anxious and might lend itself to the disturbing nature of the content.
$a_slow-breathe: gentlywaft 8s linear infinite;

/// Makes an element spin ceaselessly and slowly, lower the time for quicker rotations or the opposite for slower.
$a_whirlpool: spinning 10s linear infinite;
