.user-css {
  // &.container {
  //   width: 100%;
  //   .row {
  //     max-width: 1200px;
  //     margin: 0 auto;
  //   }
  // }

  &.page-timeline {
    .col-md-8 {
      width: 100%;
      margin: 0 auto;
    }
  }

  .cover {
    max-height: 200px;
    overflow: hidden;
  }
}
