@import 'modules/variables';
@import 'modules/waOverrides';
@import 'modules/themes';
@import 'modules/animation';
@import 'modules/characterSheets';
.user-css,
.user-css-extended {
  @import '_modules'; //@include set-theme();
  @extend %#{$theme};
  #header,
  .heading {
    p {
      text-align: center;
    }
  }
  &.page {
    font-family: $font_Metamorphus;
    #header {
      h1 {
        font-family: $font_CinzelDecorative;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 2px;
      }
    }
    #content,
    .world-content {
      font-size: 1em;
      h1,
      h2,
      h3,
      h4,
      h5 {
        font-family: $font_CinzelDecorative;
        font-weight: 600;
      }
      p {
        line-height: 1.6em;
      }
      a,
      a:hover,
      a:focus {
        font-weight: bold;
        &.text-danger {
          font-weight: inherit;
          font-style: italic;
        }
      }
    }
  }
  a:hover,
  a:active {
    text-decoration: none !important;
  }
  @import '_specificArticles';
  .heading,
  #header {
    h1:before {
      display: none;
    }
  }
  .comment-form {
    textarea {
      color: #333;
    }
  }
}

.user-css-extended {
  background: unset;
}

#map {
  background: rgba(255, 255, 255, 0.25);
  .legend {
    background: rgba(255, 255, 255, 0.5);
    &:hover {
      background: white;
    }
  }
}