@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes clock {
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes reverseclock {
  100% {
    transform: rotateZ(-360deg);
  }
}

@keyframes concentric-rise {
  0%,
  100% {
    top: 30%;
  }
  50% {
    top: 0%;
  }
}

@keyframes concentric-rise2 {
  0%,
  100% {
    top: 50%;
  }
  50% {
    top: 0%;
  }
}

@keyframes gentlywaft {
  0%,
  75%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
}

@keyframes scrollRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1000%);
  }
}