$gradient: 0.75;
.theme-panel {
  h1:before {
    position: fixed;
    display: block;
    bottom: 50%;
    right: -200px;
    width: 200px;
    background: #333;
    padding: 10px;
    text-align: center;
    transform: rotate(-90deg);
    transform-origin: left bottom 0;
    font-size: 14px;
    opacity: 0.7;
    line-height: normal;
    @media #{$threshold-l} {
      transform: none;
      right: calc(50% - 100px);
      bottom: 0;
      position: fixed;
      z-index: 10000;
    }
  }
}

%theme-lightblue {
  $base-color: #067bc2;
  $bg: darken(desaturate(adjust-hue($base-color, 16), 74), 22.55);
  $text-color: $soft-white;
  $link: lighten(desaturate(adjust-hue($base-color, -186), 6.31), 22.55);
  background: linear-gradient(to left, rgba($bg, $gradient), $bg), $brick-bg-image;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: $text-color;
  .heading,
  #header {
    @extend .theme-panel;
    h1:before {
      content: 'Theme: Light Blue';
    }
  }
  h1 {
    color: $base-color;
    .article-title & {
      color: $base-color;
    }
  }
  h2 {
    color: lighten(desaturate($base-color, 37.72), 9.22);
  }
  h3 {
    color: lighten(desaturate($base-color, 48.87), 16.47);
  }
  h4 {
    color: lighten(desaturate(adjust-hue($base-color, 156), 35.79), 21.37);
  }
  h5 {
    color: lighten(desaturate(adjust-hue($base-color, 157), 12.95), 23.53);
  }
  * {
    border-color: $base-color;
  }
  a,
  a:hover,
  a:focus {
    color: $link;
  }
  blockquote {
    color: $soft-black;
    border-bottom: solid $base-color 3px;
  }
  .bookcover {
    &:hover {
      .booktitle {
        color: white;
        background: $link;
      }
    }
  }
  .panel {
    &.panel-default {
      color: $text-color;
      a,
      a:hover,
      a:focus {
        color: darken(desaturate(adjust-hue($link, -15), 43.86), 15.69);
      }
    }
  }
  .spoiler-content {
    background-color: $base-color;
  }
  .relation {
    h4 {
      color: lighten(desaturate($base-color, 48.87), 16.47);
    }
  }
  &.user-css-worldmenu {
    background: transparent;
    .worldmenu-inner {
      background: $bg !important;
    }
  }
  .timeline-panel {
    background: white !important;
  }
  .milestone-panel {
    background: transparent !important;
  }
  .timeline {
    &:before {
      background-color: $base-color;
    }
    li {
      .tl-circ {
        background: invert($base-color);
        border-color: $base-color;
      }
    }
    @media #{$hover-only} {
      li {
        .tl-circ:hover {
          border-width: 2px;
          border-color: invert($base-color);
          background: $base-color;
        }
      }
    }
  }
  .cover {
    .nav-strip {
      background-color: $base-color;
    }
  }
  #header {
    .backtoworld {
      a {
        background-color: $base-color;
      }
    }
  }
  .character-menu.nav.nav-tabs {
    li.active {
      a,
      a:hover,
      a:focus {
        background-color: $base-color;
      }
    }
    li:not(.active) {
      a {
        background-color: $bg;
      }
    }
  }
  #metadata {
    color: white;
  }
}

%theme-darkgreen {
  $base-color: rgb(14, 63, 14);
  $bg: darken(desaturate(adjust-hue($base-color, 16), 74), 22.55);
  $text-color: $soft-white;
  $link: lighten(desaturate(adjust-hue($base-color, -186), 6.31), 22.55);
  background: linear-gradient(to left, rgba($bg, $gradient), $bg), $brick-bg-image;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: $text-color;
  .heading,
  #header {
    @extend .theme-panel;
    h1:before {
      content: 'Theme: Dark Green';
    }
  }
  h1 {
    color: $base-color;
    .article-title & {
      color: $base-color;
    }
  }
  h2 {
    color: lighten(desaturate($base-color, 37.72), 9.22);
  }
  h3 {
    color: lighten(desaturate($base-color, 48.87), 16.47);
  }
  h4 {
    color: lighten(desaturate(adjust-hue($base-color, 156), 35.79), 21.37);
  }
  h5 {
    color: lighten(desaturate(adjust-hue($base-color, 157), 12.95), 23.53);
  }
  * {
    border-color: $base-color;
  }
  a,
  a:hover,
  a:focus {
    color: $link;
  }
  blockquote {
    color: $soft-black;
    border-bottom: solid $base-color 3px;
  }
  .bookcover {
    &:hover {
      .booktitle {
        color: white;
        background: $link;
      }
    }
  }
  .panel {
    &.panel-default {
      color: $text-color;
      a,
      a:hover,
      a:focus {
        color: darken(desaturate(adjust-hue($link, -15), 43.86), 15.69);
      }
    }
  }
  .spoiler-content {
    background-color: $base-color;
  }
  .relation {
    h4 {
      color: lighten(desaturate($base-color, 48.87), 16.47);
    }
  }
  &.user-css-worldmenu {
    background: transparent;
    .worldmenu-inner {
      background: $bg !important;
    }
  }
  .timeline-panel {
    background: white !important;
  }
  .milestone-panel {
    background: transparent !important;
  }
  .timeline {
    &:before {
      background-color: $base-color;
    }
    li {
      .tl-circ {
        background: invert($base-color);
        border-color: $base-color;
      }
    }
    @media #{$hover-only} {
      li {
        .tl-circ:hover {
          border-width: 2px;
          border-color: invert($base-color);
          background: $base-color;
        }
      }
    }
  }
  .cover {
    .nav-strip {
      background-color: $base-color;
    }
  }
  #header {
    .backtoworld {
      a {
        background-color: $base-color;
      }
    }
  }
  .character-menu.nav.nav-tabs {
    li.active {
      a,
      a:hover,
      a:focus {
        background-color: $base-color;
      }
    }
    li:not(.active) {
      a {
        background-color: $bg;
      }
    }
  }
  #metadata {
    color: white;
  }
}

%theme-clay {
  $base-color: #b52f03;
  $bg: darken(desaturate(adjust-hue($base-color, 16), 74), 22.55);
  $text-color: $soft-white;
  $link: lighten(desaturate(adjust-hue($base-color, -186), 6.31), 22.55);
  background: linear-gradient(to left, rgba($bg, $gradient), $bg), $rope-bg-image;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: $text-color;
  .heading,
  #header {
    @extend .theme-panel;
    h1:before {
      content: 'Theme: Clay';
    }
  }
  h1 {
    color: $base-color;
    .article-title & {
      color: $base-color;
    }
  }
  h2 {
    color: lighten(desaturate($base-color, 37.72), 9.22);
  }
  h3 {
    color: lighten(desaturate($base-color, 48.87), 16.47);
  }
  h4 {
    color: lighten(desaturate(adjust-hue($base-color, 156), 35.79), 21.37);
  }
  h5 {
    color: lighten(desaturate(adjust-hue($base-color, 157), 12.95), 23.53);
  }
  * {
    border-color: $base-color;
  }
  a,
  a:hover,
  a:focus {
    color: $link;
  }
  blockquote {
    color: $soft-black;
    border-bottom: solid $base-color 3px;
  }
  .bookcover {
    &:hover {
      .booktitle {
        color: white;
        background: $link;
      }
    }
  }
  .panel {
    &.panel-default {
      color: $text-color;
      a,
      a:hover,
      a:focus {
        color: darken(desaturate(adjust-hue($link, -15), 43.86), 15.69);
      }
    }
  }
  .spoiler-content {
    background-color: $base-color;
  }
  .relation {
    h4 {
      color: lighten(desaturate($base-color, 48.87), 16.47);
    }
  }
  &.user-css-worldmenu {
    background: transparent;
    .worldmenu-inner {
      background: $bg !important;
    }
  }
  .timeline-panel {
    background: white !important;
  }
  .milestone-panel {
    background: transparent !important;
  }
  .timeline {
    &:before {
      background-color: $base-color;
    }
    li {
      .tl-circ {
        background: invert($base-color);
        border-color: $base-color;
      }
    }
    @media #{$hover-only} {
      li {
        .tl-circ:hover {
          border-width: 2px;
          border-color: invert($base-color);
          background: $base-color;
        }
      }
    }
  }
  .cover {
    .nav-strip {
      background-color: $base-color;
    }
  }
  #header {
    .backtoworld {
      a {
        background-color: $base-color;
      }
    }
  }
  .character-menu.nav.nav-tabs {
    li.active {
      a,
      a:hover,
      a:focus {
        background-color: $base-color;
      }
    }
    li:not(.active) {
      a {
        background-color: $bg;
      }
    }
  }
  #metadata {
    color: white;
  }
}

%theme-black {
  $base-color: black;
  $bg: invert(darken(desaturate(adjust-hue($base-color, 16), 74), 22.55));
  $text-color: invert($soft-white);
  $link: lighten(desaturate(adjust-hue($base-color, -186), 6.31), 22.55);
  background: linear-gradient(to left, rgba($bg, 0.15), $bg), $marble-bg-image;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: $text-color;
  .heading,
  #header {
    @extend .theme-panel;
    h1:before {
      content: 'Theme: Black';
    }
  }
  h1 {
    color: $base-color;
    .article-title & {
      color: $base-color;
    }
  }
  h2 {
    color: lighten(desaturate($base-color, 37.72), 9.22);
  }
  h3 {
    color: lighten(desaturate($base-color, 48.87), 16.47);
  }
  h4 {
    color: lighten(desaturate(adjust-hue($base-color, 156), 35.79), 21.37);
  }
  h5 {
    color: lighten(desaturate(adjust-hue($base-color, 157), 12.95), 23.53);
  }
  * {
    border-color: $base-color;
  }
  a,
  a:hover,
  a:focus {
    color: $link;
  }
  blockquote {
    color: $soft-black;
    border-bottom: solid $base-color 3px;
  }
  .bookcover {
    &:hover {
      .booktitle {
        color: white;
        background: $link;
      }
    }
  }
  .panel {
    &.panel-default {
      color: saturate(invert($text-color), 10);
      a,
      a:hover,
      a:focus {
        color: invert(darken(desaturate(adjust-hue($link, -15), 43.86), 15.69));
      }
    }
  }
  .spoiler-content {
    background-color: $base-color;
  }
  .relation {
    h4 {
      color: lighten(desaturate($base-color, 48.87), 16.47);
    }
  }
  &.user-css-worldmenu {
    background: transparent;
    .worldmenu-inner {
      background: $bg !important;
    }
  }
  .timeline-panel {
    background: white !important;
  }
  .milestone-panel {
    background: transparent !important;
  }
  .timeline {
    &:before {
      background-color: $base-color;
    }
    li {
      .tl-circ {
        background: invert($base-color);
        border-color: $base-color;
      }
    }
    @media #{$hover-only} {
      li {
        .tl-circ:hover {
          border-width: 2px;
          border-color: invert($base-color);
          background: $base-color;
        }
      }
    }
  }
  .cover {
    .nav-strip {
      background-color: $base-color;
    }
  }
  #header {
    .backtoworld {
      a {
        background-color: $base-color;
      }
    }
  }
  .character-menu.nav.nav-tabs {
    li.active {
      a,
      a:hover,
      a:focus {
        background-color: $base-color;
      }
    }
    li:not(.active) {
      a {
        background-color: $bg;
      }
    }
  }
  #metadata {
    color: white;
  }
}

%theme-beef {
  $base-color: #beeeef;
  $bg: darken(desaturate(adjust-hue($base-color, 16), 74), 22.55);
  $text-color: $soft-white;
  $link: lighten(desaturate(adjust-hue($base-color, -186), 6.31), 22.55);
  background: linear-gradient(to left, rgba($bg, $gradient), $bg), $brick-bg-image;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: $text-color;
  .heading,
  #header {
    @extend .theme-panel;
    h1:before {
      content: 'Theme: BEEEEF';
    }
  }
  h1 {
    color: $base-color;
    .article-title & {
      color: $base-color;
    }
  }
  h2 {
    color: lighten(desaturate($base-color, 37.72), 9.22);
  }
  h3 {
    color: lighten(desaturate($base-color, 48.87), 16.47);
  }
  h4 {
    color: lighten(desaturate(adjust-hue($base-color, 156), 35.79), 21.37);
  }
  h5 {
    color: lighten(desaturate(adjust-hue($base-color, 157), 12.95), 23.53);
  }
  * {
    border-color: $base-color;
  }
  a,
  a:hover,
  a:focus {
    color: $link;
  }
  blockquote {
    color: $soft-black;
    border-bottom: solid $base-color 3px;
  }
  .bookcover {
    &:hover {
      .booktitle {
        color: white;
        background: $link;
      }
    }
  }
  .panel {
    &.panel-default {
      color: $text-color;
      a,
      a:hover,
      a:focus {
        color: darken(desaturate(adjust-hue($link, -15), 43.86), 15.69);
      }
    }
  }
  .spoiler-content {
    background-color: $base-color;
  }
  .relation {
    h4 {
      color: lighten(desaturate($base-color, 48.87), 16.47);
    }
  }
  &.user-css-worldmenu {
    background: transparent;
    .worldmenu-inner {
      background: $bg !important;
    }
  }
  .timeline-panel {
    background: white !important;
  }
  .milestone-panel {
    background: transparent !important;
  }
  .timeline {
    &:before {
      background-color: $base-color;
    }
    li {
      .tl-circ {
        background: invert($base-color);
        border-color: $base-color;
      }
    }
    @media #{$hover-only} {
      li {
        .tl-circ:hover {
          border-width: 2px;
          border-color: invert($base-color);
          background: $base-color;
        }
      }
    }
  }
  .cover {
    .nav-strip {
      background-color: $base-color;
    }
  }
  #header {
    .backtoworld {
      a {
        background-color: $base-color;
      }
    }
  }
  .character-menu.nav.nav-tabs {
    li.active {
      a,
      a:hover,
      a:focus {
        background-color: $base-color;
      }
    }
    li:not(.active) {
      a {
        background-color: $bg;
      }
    }
  }
  #metadata {
    color: white;
  }
}

%theme-mango {
  $base-color: #f48d07;
  $bg: $soft-black;
  $text-color: $soft-white;
  $link: lighten(desaturate(adjust-hue($base-color, -186), 6.31), 22.55);
  background: linear-gradient(to left, rgba($bg, $gradient), $bg), $building-bg-image;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: $text-color;
  .heading,
  #header {
    @extend .theme-panel;
    h1:before {
      content: 'Theme: Mango';
    }
  }
  h1 {
    color: $base-color;
    .article-title & {
      color: $base-color;
    }
  }
  h2 {
    color: lighten(desaturate($base-color, 37.72), 9.22);
  }
  h3 {
    color: lighten(desaturate($base-color, 48.87), 16.47);
  }
  h4 {
    color: lighten(desaturate(adjust-hue($base-color, 156), 35.79), 21.37);
  }
  h5 {
    color: lighten(desaturate(adjust-hue($base-color, 157), 12.95), 23.53);
  }
  * {
    border-color: $base-color;
  }
  a,
  a:hover,
  a:focus {
    color: $link;
  }
  blockquote {
    color: $soft-black;
    border-bottom: solid $base-color 3px;
  }
  .bookcover {
    &:hover {
      .booktitle {
        color: white;
        background: $link;
      }
    }
  }
  .panel {
    &.panel-default {
      color: $text-color;
      a,
      a:hover,
      a:focus {
        color: darken(desaturate(adjust-hue($link, -15), 43.86), 15.69);
      }
    }
  }
  .spoiler-content {
    background-color: $base-color;
  }
  .relation {
    h4 {
      color: lighten(desaturate($base-color, 48.87), 16.47);
    }
  }
  &.user-css-worldmenu {
    background: transparent;
    .worldmenu-inner {
      background: $bg !important;
    }
  }
  .timeline-panel {
    background: white !important;
  }
  .milestone-panel {
    background: transparent !important;
  }
  .timeline {
    &:before {
      background-color: $base-color;
    }
    li {
      .tl-circ {
        background: invert($base-color);
        border-color: $base-color;
      }
    }
    @media #{$hover-only} {
      li {
        .tl-circ:hover {
          border-width: 2px;
          border-color: invert($base-color);
          background: $base-color;
        }
      }
    }
  }
  .cover {
    .nav-strip {
      background-color: $base-color;
    }
  }
  #header {
    .backtoworld {
      a {
        background-color: $base-color;
      }
    }
  }
  .character-menu.nav.nav-tabs {
    li.active {
      a,
      a:hover,
      a:focus {
        background-color: $base-color;
      }
    }
    li:not(.active) {
      a {
        background-color: $bg;
      }
    }
  }
  #metadata {
    color: white;
  }
}

%theme-strawberry-mint {
  $base-color: #dd48e2;
  $bg: darken(desaturate(adjust-hue($base-color, 16), 74), 22.55);
  $text-color: $soft-white;
  $link: lighten(desaturate(adjust-hue($base-color, -186), 6.31), 22.55);
  background: linear-gradient(to left, rgba($bg, $gradient), $bg), $brick-bg-image;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: $text-color;
  .heading,
  #header {
    @extend .theme-panel;
    h1:before {
      content: 'Theme: Strawberry Mint';
    }
  }
  h1 {
    color: $base-color;
    .article-title & {
      color: $base-color;
    }
  }
  h2 {
    color: lighten(desaturate($base-color, 37.72), 9.22);
  }
  h3 {
    color: lighten(desaturate($base-color, 48.87), 16.47);
  }
  h4 {
    color: lighten(desaturate(adjust-hue($base-color, 156), 35.79), 21.37);
  }
  h5 {
    color: lighten(desaturate(adjust-hue($base-color, 157), 12.95), 23.53);
  }
  * {
    border-color: $base-color;
  }
  a,
  a:hover,
  a:focus {
    color: $link;
  }
  blockquote {
    color: $soft-black;
    border-bottom: solid $base-color 3px;
  }
  .bookcover {
    &:hover {
      .booktitle {
        color: white;
        background: $link;
      }
    }
  }
  .panel {
    &.panel-default {
      color: $text-color;
      a,
      a:hover,
      a:focus {
        color: darken(desaturate(adjust-hue($link, -15), 43.86), 15.69);
      }
    }
  }
  .spoiler-content {
    background-color: $base-color;
  }
  .relation {
    h4 {
      color: lighten(desaturate($base-color, 48.87), 16.47);
    }
  }
  &.user-css-worldmenu {
    background: transparent;
    .worldmenu-inner {
      background: $bg !important;
    }
  }
  .timeline-panel {
    background: white !important;
  }
  .milestone-panel {
    background: transparent !important;
  }
  .timeline {
    &:before {
      background-color: $base-color;
    }
    li {
      .tl-circ {
        background: invert($base-color);
        border-color: $base-color;
      }
    }
    @media #{$hover-only} {
      li {
        .tl-circ:hover {
          border-width: 2px;
          border-color: invert($base-color);
          background: $base-color;
        }
      }
    }
  }
  .cover {
    .nav-strip {
      background-color: $base-color;
    }
  }
  #header {
    .backtoworld {
      a {
        background-color: $base-color;
      }
    }
  }
  .character-menu.nav.nav-tabs {
    li.active {
      a,
      a:hover,
      a:focus {
        background-color: $base-color;
      }
    }
    li:not(.active) {
      a {
        background-color: $bg;
      }
    }
  }
  #metadata {
    color: white;
  }
}

%theme-dijon {
  $base-color: #a5a313;
  $bg: darken(desaturate(adjust-hue($base-color, 16), 74), 22.55);
  $text-color: $soft-white;
  $link: lighten(desaturate(adjust-hue($base-color, -186), 6.31), 22.55);
  background: linear-gradient(to left, rgba($bg, $gradient), $bg), $bark-bg-image;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: $text-color;
  .heading,
  #header {
    @extend .theme-panel;
    h1:before {
      content: 'Theme: Dijon';
    }
  }
  h1 {
    color: $base-color;
    .article-title & {
      color: $base-color;
    }
  }
  h2 {
    color: lighten(desaturate($base-color, 37.72), 9.22);
  }
  h3 {
    color: lighten(desaturate($base-color, 48.87), 16.47);
  }
  h4 {
    color: lighten(desaturate(adjust-hue($base-color, 156), 35.79), 21.37);
  }
  h5 {
    color: lighten(desaturate(adjust-hue($base-color, 157), 12.95), 23.53);
  }
  * {
    border-color: $base-color;
  }
  a,
  a:hover,
  a:focus {
    color: $link;
  }
  blockquote {
    color: $soft-black;
    border-bottom: solid $base-color 3px;
  }
  .bookcover {
    &:hover {
      .booktitle {
        color: white;
        background: $link;
      }
    }
  }
  .panel {
    &.panel-default {
      color: $text-color;
      a,
      a:hover,
      a:focus {
        color: darken(desaturate(adjust-hue($link, -15), 43.86), 15.69);
      }
    }
  }
  .spoiler-content {
    background-color: $base-color;
  }
  .relation {
    h4 {
      color: lighten(desaturate($base-color, 48.87), 16.47);
    }
  }
  &.user-css-worldmenu {
    background: transparent;
    .worldmenu-inner {
      background: $bg !important;
    }
  }
  .timeline-panel {
    background: white !important;
  }
  .milestone-panel {
    background: transparent !important;
  }
  .timeline {
    &:before {
      background-color: $base-color;
    }
    li {
      .tl-circ {
        background: invert($base-color);
        border-color: $base-color;
      }
    }
    @media #{$hover-only} {
      li {
        .tl-circ:hover {
          border-width: 2px;
          border-color: invert($base-color);
          background: $base-color;
        }
      }
    }
  }
  .cover {
    .nav-strip {
      background-color: $base-color;
    }
  }
  #header {
    .backtoworld {
      a {
        background-color: $base-color;
      }
    }
  }
  .character-menu.nav.nav-tabs {
    li.active {
      a,
      a:hover,
      a:focus {
        background-color: $base-color;
      }
    }
    li:not(.active) {
      a {
        background-color: $bg;
      }
    }
  }
  #metadata {
    color: white;
  }
}

%theme-turquoise {
  $base-color: #7bf7ce;
  $bg: darken(desaturate(adjust-hue($base-color, 16), 74), 22.55);
  $text-color: $soft-white;
  $link: lighten(desaturate(adjust-hue($base-color, -186), 6.31), 22.55);
  background: linear-gradient(to left, rgba($bg, $gradient), $bg), $brick-bg-image;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: $text-color;
  .heading,
  #header {
    @extend .theme-panel;
    h1:before {
      content: 'Theme: Turqoise';
    }
  }
  h1 {
    color: $base-color;
    .article-title & {
      color: $base-color;
    }
  }
  h2 {
    color: lighten(desaturate($base-color, 37.72), 9.22);
  }
  h3 {
    color: lighten(desaturate($base-color, 48.87), 16.47);
  }
  h4 {
    color: lighten(desaturate(adjust-hue($base-color, 156), 35.79), 21.37);
  }
  h5 {
    color: lighten(desaturate(adjust-hue($base-color, 157), 12.95), 23.53);
  }
  * {
    border-color: $base-color;
  }
  a,
  a:hover,
  a:focus {
    color: $link;
  }
  blockquote {
    color: $soft-black;
    border-bottom: solid $base-color 3px;
  }
  .bookcover {
    &:hover {
      .booktitle {
        color: white;
        background: $link;
      }
    }
  }
  .panel {
    &.panel-default {
      color: $text-color;
      a,
      a:hover,
      a:focus {
        color: darken(desaturate(adjust-hue($link, -15), 43.86), 15.69);
      }
    }
  }
  .spoiler-content {
    background-color: $base-color;
  }
  .relation {
    h4 {
      color: lighten(desaturate($base-color, 48.87), 16.47);
    }
  }
  .article-panel {
    background: $soft-black;
  }
  &.user-css-worldmenu {
    background: transparent;
    .worldmenu-inner {
      background: $bg !important;
    }
  }
  .timeline-panel {
    background: white !important;
  }
  .milestone-panel {
    background: transparent !important;
  }
  .timeline {
    &:before {
      background-color: $base-color;
    }
    li {
      .tl-circ {
        background: invert($base-color);
        border-color: $base-color;
      }
    }
    @media #{$hover-only} {
      li {
        .tl-circ:hover {
          border-width: 2px;
          border-color: invert($base-color);
          background: $base-color;
        }
      }
    }
  }
  .cover {
    .nav-strip {
      background-color: $base-color;
    }
  }
  #header {
    .backtoworld {
      a {
        background-color: $base-color;
      }
    }
  }
  .character-menu.nav.nav-tabs {
    li.active {
      a,
      a:hover,
      a:focus {
        background-color: $base-color;
      }
    }
    li:not(.active) {
      a {
        background-color: $bg;
      }
    }
  }
  #metadata {
    color: white;
  }
}

%theme-grape {
  $base-color: #4f40ad;
  $bg: darken(desaturate(adjust-hue($base-color, 16), 74), 22.55);
  $text-color: $soft-white;
  $link: lighten(desaturate(adjust-hue($base-color, -186), 6.31), 22.55);
  background: linear-gradient(to left, rgba($bg, $gradient), $bg), $marble-bg-image;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: $text-color;
  .heading,
  #header {
    @extend .theme-panel;
    h1:before {
      content: 'Theme: Grape';
    }
  }
  h1 {
    color: $base-color;
    .article-title & {
      color: $base-color;
    }
  }
  h2 {
    color: lighten(desaturate($base-color, 37.72), 9.22);
  }
  h3 {
    color: lighten(desaturate($base-color, 48.87), 16.47);
  }
  h4 {
    color: lighten(desaturate(adjust-hue($base-color, 156), 35.79), 21.37);
  }
  h5 {
    color: lighten(desaturate(adjust-hue($base-color, 157), 12.95), 23.53);
  }
  * {
    border-color: $base-color;
  }
  a,
  a:hover,
  a:focus {
    color: $link;
  }
  blockquote {
    color: $soft-black;
    border-bottom: solid $base-color 3px;
  }
  .bookcover {
    &:hover {
      .booktitle {
        color: white;
        background: $link;
      }
    }
  }
  .panel {
    &.panel-default {
      color: $text-color;
      a,
      a:hover,
      a:focus {
        color: darken(desaturate(adjust-hue($link, -15), 43.86), 15.69);
      }
    }
  }
  .spoiler-content {
    background-color: $base-color;
  }
  .relation {
    h4 {
      color: lighten(desaturate($base-color, 48.87), 16.47);
    }
  }
  &.user-css-worldmenu {
    background: transparent;
    .worldmenu-inner {
      background: $bg !important;
    }
  }
  .timeline-panel {
    background: white !important;
  }
  .milestone-panel {
    background: transparent !important;
  }
  .timeline {
    &:before {
      background-color: $base-color;
    }
    li {
      .tl-circ {
        background: invert($base-color);
        border-color: $base-color;
      }
    }
    @media #{$hover-only} {
      li {
        .tl-circ:hover {
          border-width: 2px;
          border-color: invert($base-color);
          background: $base-color;
        }
      }
    }
  }
  .cover {
    .nav-strip {
      background-color: $base-color;
    }
  }
  #header {
    .backtoworld {
      a {
        background-color: $base-color;
      }
    }
  }
  .character-menu.nav.nav-tabs {
    li.active {
      a,
      a:hover,
      a:focus {
        background-color: $base-color;
      }
    }
    li:not(.active) {
      a {
        background-color: $bg;
      }
    }
  }
  #metadata {
    color: white;
  }
}

%theme-gralnum {
  $base-color: #a35308;
  $bg: darken(desaturate(adjust-hue($base-color, 16), 74), 22.55);
  $text-color: $soft-white;
  $link: lighten(desaturate(adjust-hue($base-color, -186), 6.31), 22.55);
  background: linear-gradient(to left, rgba($bg, $gradient), $bg), $brick-bg-image;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: $text-color;
  .heading,
  #header {
    @extend .theme-panel;
    h1:before {
      content: 'Theme: Gralnum';
    }
  }
  h1 {
    color: $base-color;
    .article-title & {
      color: $base-color;
    }
  }
  h2 {
    color: lighten(desaturate($base-color, 37.72), 9.22);
  }
  h3 {
    color: lighten(desaturate($base-color, 48.87), 16.47);
  }
  h4 {
    color: lighten(desaturate(adjust-hue($base-color, 156), 35.79), 21.37);
  }
  h5 {
    color: lighten(desaturate(adjust-hue($base-color, 157), 12.95), 23.53);
  }
  * {
    border-color: $base-color;
  }
  a,
  a:hover,
  a:focus {
    color: $link;
  }
  blockquote {
    color: $soft-black;
    border-bottom: solid $base-color 3px;
  }
  .bookcover {
    &:hover {
      .booktitle {
        color: white;
        background: $link;
      }
    }
  }
  .panel {
    &.panel-default {
      color: $text-color;
      a,
      a:hover,
      a:focus {
        color: darken(desaturate(adjust-hue($link, -15), 43.86), 15.69);
      }
    }
  }
  .spoiler-content {
    background-color: $base-color;
  }
  .relation {
    h4 {
      color: lighten(desaturate($base-color, 48.87), 16.47);
    }
  }
  &.user-css-worldmenu {
    background: transparent;
    .worldmenu-inner {
      background: $bg !important;
    }
  }
  .timeline-panel {
    background: white !important;
  }
  .milestone-panel {
    background: transparent !important;
  }
  .timeline {
    &:before {
      background-color: $base-color;
    }
    li {
      .tl-circ {
        background: invert($base-color);
        border-color: $base-color;
      }
    }
    @media #{$hover-only} {
      li {
        .tl-circ:hover {
          border-width: 2px;
          border-color: invert($base-color);
          background: $base-color;
        }
      }
    }
  }
  .cover {
    .nav-strip {
      background-color: $base-color;
    }
  }
  #header {
    .backtoworld {
      a {
        background-color: $base-color;
      }
    }
  }
  .character-menu.nav.nav-tabs {
    li.active {
      a,
      a:hover,
      a:focus {
        background-color: $base-color;
      }
    }
    li:not(.active) {
      a {
        background-color: $bg;
      }
    }
  }
  #metadata {
    color: white;
  }
}

%theme-lethe {
  $base-color: #518e4b;
  $bg: darken(desaturate(adjust-hue($base-color, 16), 74), 22.55);
  $text-color: $soft-white;
  $link: lighten(desaturate(adjust-hue($base-color, -186), 6.31), 22.55);
  background: linear-gradient(to left, rgba($bg, 0.3), $bg), $sand-bg-image;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: $text-color;
  .heading,
  #header {
    @extend .theme-panel;
    h1:before {
      content: 'Theme: Lethe';
    }
  }
  h1 {
    color: $base-color;
    .article-title & {
      color: $base-color;
    }
  }
  h2 {
    color: lighten(desaturate($base-color, 37.72), 9.22);
  }
  h3 {
    color: lighten(desaturate($base-color, 48.87), 16.47);
  }
  h4 {
    color: lighten(desaturate(adjust-hue($base-color, 156), 35.79), 21.37);
  }
  h5 {
    color: lighten(desaturate(adjust-hue($base-color, 157), 12.95), 23.53);
  }
  * {
    border-color: $base-color;
  }
  a,
  a:hover,
  a:focus {
    color: $link;
  }
  blockquote {
    color: $soft-black;
    border-bottom: solid $base-color 3px;
  }
  .bookcover {
    &:hover {
      .booktitle {
        color: white;
        background: $link;
      }
    }
  }
  .panel {
    &.panel-default {
      color: $text-color;
      a,
      a:hover,
      a:focus {
        color: darken(desaturate(adjust-hue($link, -15), 43.86), 15.69);
      }
    }
  }
  .spoiler-content {
    background-color: $base-color;
  }
  .relation {
    h4 {
      color: lighten(desaturate($base-color, 48.87), 16.47);
    }
  }
  &.user-css-worldmenu {
    background: transparent;
    .worldmenu-inner {
      background: $bg !important;
    }
  }
  .timeline-panel {
    background: white !important;
  }
  .milestone-panel {
    background: transparent !important;
  }
  .timeline {
    &:before {
      background-color: $base-color;
    }
    li {
      .tl-circ {
        background: invert($base-color);
        border-color: $base-color;
      }
    }
    @media #{$hover-only} {
      li {
        .tl-circ:hover {
          border-width: 2px;
          border-color: invert($base-color);
          background: $base-color;
        }
      }
    }
  }
  .cover {
    .nav-strip {
      background-color: $base-color;
    }
  }
  #header {
    .backtoworld {
      a {
        background-color: $base-color;
      }
    }
  }
  .character-menu.nav.nav-tabs {
    li.active {
      a,
      a:hover,
      a:focus {
        background-color: $base-color;
      }
    }
    li:not(.active) {
      a {
        background-color: $bg;
      }
    }
  }
  #metadata {
    color: white;
  }
}

%theme-crimson {
  $base-color: #b30000;
  $bg: darken(desaturate(adjust-hue($base-color, 16), 74), 22.55);
  $text-color: $soft-white;
  $link: lighten(desaturate(adjust-hue($base-color, -186), 6.31), 22.55);
  background: linear-gradient(to left, rgba($bg, $gradient), $bg), $fancy_red_wallpaper-bg-image;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: $text-color;
  .heading,
  #header {
    @extend .theme-panel;
    h1:before {
      content: 'Theme: Crimson';
    }
  }
  h1 {
    color: $base-color;
    .article-title & {
      color: $base-color;
    }
  }
  h2 {
    color: lighten(desaturate($base-color, 37.72), 9.22);
  }
  h3 {
    color: lighten(desaturate($base-color, 48.87), 16.47);
  }
  h4 {
    color: lighten(desaturate(adjust-hue($base-color, 156), 35.79), 21.37);
  }
  h5 {
    color: lighten(desaturate(adjust-hue($base-color, 157), 12.95), 23.53);
  }
  * {
    border-color: $base-color;
  }
  a,
  a:hover,
  a:focus {
    color: $link;
  }
  blockquote {
    color: $soft-black;
    border-bottom: solid $base-color 3px;
  }
  .bookcover {
    &:hover {
      .booktitle {
        color: white;
        background: $link;
      }
    }
  }
  .panel {
    &.panel-default {
      color: $text-color;
      a,
      a:hover,
      a:focus {
        color: darken(desaturate(adjust-hue($link, -15), 43.86), 15.69);
      }
    }
  }
  .spoiler-content {
    background-color: $base-color;
  }
  .relation {
    h4 {
      color: lighten(desaturate($base-color, 48.87), 16.47);
    }
  }
  &.user-css-worldmenu {
    background: transparent;
    .worldmenu-inner {
      background: $bg !important;
    }
  }
  .timeline-panel {
    background: white !important;
  }
  .milestone-panel {
    background: transparent !important;
  }
  .timeline {
    &:before {
      background-color: $base-color;
    }
    li {
      .tl-circ {
        background: invert($base-color);
        border-color: $base-color;
      }
    }
    @media #{$hover-only} {
      li {
        .tl-circ:hover {
          border-width: 2px;
          border-color: invert($base-color);
          background: $base-color;
        }
      }
    }
  }
  .cover {
    .nav-strip {
      background-color: $base-color;
    }
  }
  #header {
    .backtoworld {
      a {
        background-color: $base-color;
      }
    }
  }
  .character-menu.nav.nav-tabs {
    li.active {
      a,
      a:hover,
      a:focus {
        background-color: $base-color;
      }
    }
    li:not(.active) {
      a {
        background-color: $bg;
      }
    }
  }
  #metadata {
    color: white;
  }
}

%theme-maevyn {
  $base-color: #b30000;
  $bg: darken(desaturate(adjust-hue($base-color, 16), 74), 22.55);
  $text-color: $soft-white;
  $link: lighten(desaturate(adjust-hue($base-color, -186), 6.31), 22.55);
  background: linear-gradient(to left, rgba($bg, $gradient), $bg), $bloodcells-bg-image;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: $text-color;
  .heading,
  #header {
    @extend .theme-panel;
    h1:before {
      content: 'Theme: Maevyn';
    }
  }
  h1 {
    color: $base-color;
    .article-title & {
      color: $base-color;
    }
  }
  h2 {
    color: lighten(desaturate($base-color, 37.72), 9.22);
  }
  h3 {
    color: lighten(desaturate($base-color, 48.87), 16.47);
  }
  h4 {
    color: lighten(desaturate(adjust-hue($base-color, 156), 35.79), 21.37);
  }
  h5 {
    color: lighten(desaturate(adjust-hue($base-color, 157), 12.95), 23.53);
  }
  * {
    border-color: $base-color;
  }
  a,
  a:hover,
  a:focus {
    color: $link;
  }
  blockquote {
    color: $soft-black;
    border-bottom: solid $base-color 3px;
  }
  .bookcover {
    &:hover {
      .booktitle {
        color: white;
        background: $link;
      }
    }
  }
  .panel {
    &.panel-default {
      color: $text-color;
      a,
      a:hover,
      a:focus {
        color: darken(desaturate(adjust-hue($link, -15), 43.86), 15.69);
      }
    }
  }
  .spoiler-content {
    background-color: $base-color;
  }
  .relation {
    h4 {
      color: lighten(desaturate($base-color, 48.87), 16.47);
    }
  }
  &.user-css-worldmenu {
    background: transparent;
    .worldmenu-inner {
      background: $bg !important;
    }
  }
  .timeline-panel {
    background: white !important;
  }
  .milestone-panel {
    background: transparent !important;
  }
  .timeline {
    &:before {
      background-color: $base-color;
    }
    li {
      .tl-circ {
        background: invert($base-color);
        border-color: $base-color;
      }
    }
    @media #{$hover-only} {
      li {
        .tl-circ:hover {
          border-width: 2px;
          border-color: invert($base-color);
          background: $base-color;
        }
      }
    }
  }
  .cover {
    .nav-strip {
      background-color: $base-color;
    }
  }
  #header {
    .backtoworld {
      a {
        background-color: $base-color;
      }
    }
  }
  .character-menu.nav.nav-tabs {
    li.active {
      a,
      a:hover,
      a:focus {
        background-color: $base-color;
      }
    }
    li:not(.active) {
      a {
        background-color: $bg;
      }
    }
  }
  #metadata {
    color: white;
  }
  .table.table-striped {
    tbody {
      tr {
        &:nth-of-type(odd) {
          background: $bg;
        }
      }
    }
  }
}

%theme-lemon-curd {
  $base-color: #efd702;
  $bg: darken(desaturate(adjust-hue($base-color, 16), 74), 22.55);
  $text-color: $soft-white;
  $link: lighten(desaturate(adjust-hue($base-color, -186), 6.31), 22.55);
  background: linear-gradient(to left, rgba($bg, $gradient), $bg), $brick-bg-image;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: $text-color;
  .heading,
  #header {
    @extend .theme-panel;
    h1:before {
      content: 'Theme: Lemon Curd';
    }
  }
  h1 {
    color: $base-color;
    .article-title & {
      color: $base-color;
    }
  }
  h2 {
    color: lighten(desaturate($base-color, 37.72), 9.22);
  }
  h3 {
    color: lighten(desaturate($base-color, 48.87), 16.47);
  }
  h4 {
    color: lighten(desaturate(adjust-hue($base-color, 156), 35.79), 21.37);
  }
  h5 {
    color: lighten(desaturate(adjust-hue($base-color, 157), 12.95), 23.53);
  }
  * {
    border-color: $base-color;
  }
  a,
  a:hover,
  a:focus {
    color: $link;
  }
  blockquote {
    color: $soft-black;
    border-bottom: solid $base-color 3px;
  }
  .bookcover {
    &:hover {
      .booktitle {
        color: white;
        background: $link;
      }
    }
  }
  .panel {
    &.panel-default {
      color: $text-color;
      a,
      a:hover,
      a:focus {
        color: darken(desaturate(adjust-hue($link, -15), 43.86), 15.69);
      }
    }
  }
  .spoiler-content {
    background-color: $base-color;
  }
  .relation {
    h4 {
      color: lighten(desaturate($base-color, 48.87), 16.47);
    }
  }
  &.user-css-worldmenu {
    background: transparent;
    .worldmenu-inner {
      background: $bg !important;
    }
  }
  .timeline-panel {
    background: white !important;
  }
  .milestone-panel {
    background: transparent !important;
  }
  .timeline {
    &:before {
      background-color: $base-color;
    }
    li {
      .tl-circ {
        background: invert($base-color);
        border-color: $base-color;
      }
    }
    @media #{$hover-only} {
      li {
        .tl-circ:hover {
          border-width: 2px;
          border-color: invert($base-color);
          background: $base-color;
        }
      }
    }
  }
  .cover {
    .nav-strip {
      background-color: $base-color;
    }
  }
  #header {
    .backtoworld {
      a {
        background-color: $base-color;
      }
    }
  }
  .character-menu.nav.nav-tabs {
    li.active {
      a,
      a:hover,
      a:focus {
        background-color: $base-color;
      }
    }
    li:not(.active) {
      a {
        background-color: $bg;
      }
    }
  }
  #metadata {
    color: white;
  }
}

%theme-sky {
  $base-color: #8cfffd;
  $bg: darken(desaturate(adjust-hue($base-color, 16), 74), 22.55);
  $text-color: $soft-white;
  $link: lighten(desaturate(adjust-hue($base-color, -186), 6.31), 22.55);
  background: linear-gradient(to left, rgba($bg, $gradient), $bg), $brick-bg-image;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: $text-color;
  .heading,
  #header {
    @extend .theme-panel;
    h1:before {
      content: 'Theme: Sky';
    }
  }
  h1 {
    color: $base-color;
    .article-title & {
      color: $base-color;
    }
  }
  h2 {
    color: lighten(desaturate($base-color, 37.72), 9.22);
  }
  h3 {
    color: lighten(desaturate($base-color, 48.87), 16.47);
  }
  h4 {
    color: lighten(desaturate(adjust-hue($base-color, 156), 35.79), 21.37);
  }
  h5 {
    color: lighten(desaturate(adjust-hue($base-color, 157), 12.95), 23.53);
  }
  * {
    border-color: $base-color;
  }
  a,
  a:hover,
  a:focus {
    color: $link;
  }
  blockquote {
    color: $soft-black;
    border-bottom: solid $base-color 3px;
  }
  .bookcover {
    &:hover {
      .booktitle {
        color: white;
        background: $link;
      }
    }
  }
  .panel {
    &.panel-default {
      color: $text-color;
      a,
      a:hover,
      a:focus {
        color: darken(desaturate(adjust-hue($link, -15), 43.86), 15.69);
      }
    }
  }
  .spoiler-content {
    background-color: $base-color;
  }
  .relation {
    h4 {
      color: lighten(desaturate($base-color, 48.87), 16.47);
    }
  }
  &.user-css-worldmenu {
    background: transparent;
    .worldmenu-inner {
      background: $bg !important;
    }
  }
  .timeline-panel {
    background: white !important;
  }
  .milestone-panel {
    background: transparent !important;
  }
  .timeline {
    &:before {
      background-color: $base-color;
    }
    li {
      .tl-circ {
        background: invert($base-color);
        border-color: $base-color;
      }
    }
    @media #{$hover-only} {
      li {
        .tl-circ:hover {
          border-width: 2px;
          border-color: invert($base-color);
          background: $base-color;
        }
      }
    }
  }
  .cover {
    .nav-strip {
      background-color: $base-color;
    }
  }
  #header {
    .backtoworld {
      a {
        background-color: $base-color;
      }
    }
  }
  .character-menu.nav.nav-tabs {
    li.active {
      a,
      a:hover,
      a:focus {
        background-color: $base-color;
      }
    }
    li:not(.active) {
      a {
        background-color: $bg;
      }
    }
  }
  #metadata {
    color: white;
  }
}

%theme-tardis {
  $base-color: #273391;
  $bg: darken(desaturate(adjust-hue($base-color, 16), 74), 22.55);
  $text-color: $soft-white;
  $link: lighten(desaturate(adjust-hue($base-color, -186), 6.31), 22.55);
  background: linear-gradient(to left, rgba($bg, $gradient), $bg), $blue_crest_wallpaper-bg-image;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: $text-color;
  .heading,
  #header {
    @extend .theme-panel;
    h1:before {
      content: 'Theme: TARDIS';
    }
  }
  h1 {
    color: $base-color;
    .article-title & {
      color: $base-color;
    }
  }
  h2 {
    color: lighten(desaturate($base-color, 37.72), 9.22);
  }
  h3 {
    color: lighten(desaturate($base-color, 48.87), 16.47);
  }
  h4 {
    color: lighten(desaturate(adjust-hue($base-color, 156), 35.79), 21.37);
  }
  h5 {
    color: lighten(desaturate(adjust-hue($base-color, 157), 12.95), 23.53);
  }
  * {
    border-color: $base-color;
  }
  a,
  a:hover,
  a:focus {
    color: $link;
  }
  blockquote {
    color: $soft-black;
    border-bottom: solid $base-color 3px;
  }
  .bookcover {
    &:hover {
      .booktitle {
        color: white;
        background: $link;
      }
    }
  }
  .panel {
    &.panel-default {
      color: $text-color;
      a,
      a:hover,
      a:focus {
        color: darken(desaturate(adjust-hue($link, -15), 43.86), 15.69);
      }
    }
  }
  .spoiler-content {
    background-color: $base-color;
  }
  .relation {
    h4 {
      color: lighten(desaturate($base-color, 48.87), 16.47);
    }
  }
  &.user-css-worldmenu {
    background: transparent;
    .worldmenu-inner {
      background: $bg !important;
    }
  }
  .timeline-panel {
    background: white !important;
  }
  .milestone-panel {
    background: transparent !important;
  }
  .timeline {
    &:before {
      background-color: $base-color;
    }
    li {
      .tl-circ {
        background: invert($base-color);
        border-color: $base-color;
      }
    }
    @media #{$hover-only} {
      li {
        .tl-circ:hover {
          border-width: 2px;
          border-color: invert($base-color);
          background: $base-color;
        }
      }
    }
  }
  .cover {
    .nav-strip {
      background-color: $base-color;
    }
  }
  #header {
    .backtoworld {
      a {
        background-color: $base-color;
      }
    }
  }
  .character-menu.nav.nav-tabs {
    li.active {
      a,
      a:hover,
      a:focus {
        background-color: $base-color;
      }
    }
    li:not(.active) {
      a {
        background-color: $bg;
      }
    }
  }
  #metadata {
    color: white;
  }
}

%theme-bright-green {
  $base-color: #27ce3a;
  $bg: darken(desaturate(adjust-hue($base-color, 16), 74), 22.55);
  $text-color: $soft-white;
  $link: lighten(desaturate(adjust-hue($base-color, -186), 6.31), 22.55);
  background: linear-gradient(to left, rgba($bg, $gradient), $bg), $brick-bg-image;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: $text-color;
  .heading,
  #header {
    @extend .theme-panel;
    h1:before {
      content: 'Theme: Bright Green';
    }
  }
  h1 {
    color: $base-color;
    .article-title & {
      color: $base-color;
    }
  }
  h2 {
    color: lighten(desaturate($base-color, 37.72), 9.22);
  }
  h3 {
    color: lighten(desaturate($base-color, 48.87), 16.47);
  }
  h4 {
    color: lighten(desaturate(adjust-hue($base-color, 156), 35.79), 21.37);
  }
  h5 {
    color: lighten(desaturate(adjust-hue($base-color, 157), 12.95), 23.53);
  }
  * {
    border-color: $base-color;
  }
  a,
  a:hover,
  a:focus {
    color: $link;
  }
  blockquote {
    color: $soft-black;
    border-bottom: solid $base-color 3px;
  }
  .bookcover {
    &:hover {
      .booktitle {
        color: white;
        background: $link;
      }
    }
  }
  .panel {
    &.panel-default {
      color: $text-color;
      a,
      a:hover,
      a:focus {
        color: darken(desaturate(adjust-hue($link, -15), 43.86), 15.69);
      }
    }
  }
  .spoiler-content {
    background-color: $base-color;
  }
  .relation {
    h4 {
      color: lighten(desaturate($base-color, 48.87), 16.47);
    }
  }
  &.user-css-worldmenu {
    background: transparent;
    .worldmenu-inner {
      background: $bg !important;
    }
  }
  .timeline-panel {
    background: white !important;
  }
  .milestone-panel {
    background: transparent !important;
  }
  .timeline {
    &:before {
      background-color: $base-color;
    }
    li {
      .tl-circ {
        background: invert($base-color);
        border-color: $base-color;
      }
    }
    @media #{$hover-only} {
      li {
        .tl-circ:hover {
          border-width: 2px;
          border-color: invert($base-color);
          background: $base-color;
        }
      }
    }
  }
  .cover {
    .nav-strip {
      background-color: $base-color;
    }
  }
  #header {
    .backtoworld {
      a {
        background-color: $base-color;
      }
    }
  }
  .character-menu.nav.nav-tabs {
    li.active {
      a,
      a:hover,
      a:focus {
        background-color: $base-color;
      }
    }
    li:not(.active) {
      a {
        background-color: $bg;
      }
    }
  }
  #metadata {
    color: white;
  }
}

%theme-grey {
  $base-color: #9b9796;
  $bg: darken(desaturate(adjust-hue($base-color, 16), 74), 22.55);
  $text-color: $soft-white;
  $link: lighten(desaturate(adjust-hue($base-color, -186), 6.31), 22.55);
  background: linear-gradient(to left, rgba($bg, $gradient), $bg), $brick-bg-image;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: $text-color;
  .heading,
  #header {
    @extend .theme-panel;
    h1:before {
      content: 'Theme: Grey';
    }
  }
  h1 {
    color: $base-color;
    .article-title & {
      color: $base-color;
    }
  }
  h2 {
    color: lighten(desaturate($base-color, 37.72), 9.22);
  }
  h3 {
    color: lighten(desaturate($base-color, 48.87), 16.47);
  }
  h4 {
    color: lighten(desaturate(adjust-hue($base-color, 156), 35.79), 21.37);
  }
  h5 {
    color: lighten(desaturate(adjust-hue($base-color, 157), 12.95), 23.53);
  }
  * {
    border-color: $base-color;
  }
  a,
  a:hover,
  a:focus {
    color: $link;
  }
  blockquote {
    color: $soft-black;
    border-bottom: solid $base-color 3px;
  }
  .bookcover {
    &:hover {
      .booktitle {
        color: white;
        background: $link;
      }
    }
  }
  .panel {
    &.panel-default {
      color: $text-color;
      a,
      a:hover,
      a:focus {
        color: darken(desaturate(adjust-hue($link, -15), 43.86), 15.69);
      }
    }
  }
  .spoiler-content {
    background-color: $base-color;
  }
  .relation {
    h4 {
      color: lighten(desaturate($base-color, 48.87), 16.47);
    }
  }
  &.user-css-worldmenu {
    background: transparent;
    .worldmenu-inner {
      background: $bg !important;
    }
  }
  .timeline-panel {
    background: white !important;
  }
  .milestone-panel {
    background: transparent !important;
  }
  .timeline {
    &:before {
      background-color: $base-color;
    }
    li {
      .tl-circ {
        background: invert($base-color);
        border-color: $base-color;
      }
    }
    @media #{$hover-only} {
      li {
        .tl-circ:hover {
          border-width: 2px;
          border-color: invert($base-color);
          background: $base-color;
        }
      }
    }
  }
  .cover {
    .nav-strip {
      background-color: $base-color;
    }
  }
  #header {
    .backtoworld {
      a {
        background-color: $base-color;
      }
    }
  }
  .character-menu.nav.nav-tabs {
    li.active {
      a,
      a:hover,
      a:focus {
        background-color: $base-color;
      }
    }
    li:not(.active) {
      a {
        background-color: $bg;
      }
    }
  }
  #metadata {
    color: white;
  }
}

%theme-carnation {
  $base-color: #f5c6ff;
  $bg: darken(desaturate(adjust-hue($base-color, 16), 74), 22.55);
  $text-color: invert($soft-white);
  $link: invert( lighten(desaturate(adjust-hue($base-color, -186), 6.31), 22.55));
  background: linear-gradient(to left, rgba($bg, $gradient), $bg), $brick-bg-image;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: $text-color;
  .heading,
  #header {
    @extend .theme-panel;
    h1:before {
      content: 'Theme: Carnation';
    }
  }
  h1 {
    color: $base-color;
    .article-title & {
      color: $base-color;
    }
  }
  h2 {
    color: lighten(desaturate($base-color, 37.72), 9.22);
  }
  h3 {
    color: lighten(desaturate($base-color, 48.87), 16.47);
  }
  h4 {
    color: invert( lighten(desaturate(adjust-hue($base-color, 156), 35.79), 21.37));
  }
  h5 {
    color: invert( lighten(desaturate(adjust-hue($base-color, 157), 12.95), 23.53));
  }
  * {
    border-color: $base-color;
  }
  a,
  a:hover,
  a:focus {
    color: $link;
  }
  blockquote {
    color: $soft-black;
    border-bottom: solid $base-color 3px;
  }
  .bookcover {
    &:hover {
      .booktitle {
        color: white;
        background: $link;
      }
    }
  }
  .panel {
    &.panel-default {
      color: $text-color;
      a,
      a:hover,
      a:focus {
        color: darken(desaturate(adjust-hue($link, -15), 43.86), 15.69);
      }
    }
  }
  .spoiler-content {
    background-color: $base-color;
  }
  .relation {
    h4 {
      color: lighten(desaturate($base-color, 48.87), 16.47);
    }
  }
  &.user-css-worldmenu {
    background: transparent;
    .worldmenu-inner {
      background: $bg !important;
    }
  }
  .timeline-panel {
    background: white !important;
  }
  .milestone-panel {
    background: transparent !important;
  }
  .timeline {
    &:before {
      background-color: $base-color;
    }
    li {
      .tl-circ {
        background: invert($base-color);
        border-color: $base-color;
      }
    }
    @media #{$hover-only} {
      li {
        .tl-circ:hover {
          border-width: 2px;
          border-color: invert($base-color);
          background: $base-color;
        }
      }
    }
  }
  .cover {
    .nav-strip {
      background-color: $base-color;
    }
  }
  #header {
    .backtoworld {
      a {
        background-color: $base-color;
      }
    }
  }
  .character-menu.nav.nav-tabs {
    li.active {
      a,
      a:hover,
      a:focus {
        background-color: $base-color;
      }
    }
    li:not(.active) {
      a {
        background-color: $bg;
      }
    }
  }
  #metadata {
    color: white;
  }
}

/*%theme-template {
  $bg: darken(desaturate(adjust-hue($base-color, 16), 74), 22.55);
  $text-color: $soft-white;
  $link: lighten(desaturate(adjust-hue($base-color, -186), 6.31), 22.55);

  background: linear-gradient(to left, rgba($bg, $gradient), $bg),
    $brick-bg-image;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: $text-color;

  .heading,
  #header {
    @extend .theme-panel;
    h1:before {
      content: 'Theme: Template';
    }
  }
  h1 {
    color: $base-color;
    .article-title & {
      color: $base-color;
    }
  }
  h2 {
    color: lighten(desaturate($base-color, 37.72), 9.22);
  }
  h3 {
    color: lighten(desaturate($base-color, 48.87), 16.47);
  }
  h4 {
    color: lighten(desaturate(adjust-hue($base-color, 156), 35.79), 21.37);
  }
  h5 {
    color: lighten(desaturate(adjust-hue($base-color, 157), 12.95), 23.53);
  }
  * {
    border-color: $base-color;
  }
  a,
  a:hover,
  a:focus {
    color: $link;
  }

  blockquote {
    color: $soft-black;
    border-bottom: solid $base-color 3px;
  }

  .bookcover {
    &:hover {
      .booktitle {
        color: white;
        background: $link;
      }
    }
  }

  .panel {
    &.panel-default {
      color: $text-color;
      a,
      a:hover,
      a:focus {
        color: darken(desaturate(adjust-hue($link, -15), 43.86), 15.69);
      }
    }
  }

  .spoiler-content {
    background-color: $base-color;
  }

  .relation {
    h4 {
      color: lighten(desaturate($base-color, 48.87), 16.47);
    }
  }
&.user-css-worldmenu {
    background: transparent;
    .worldmenu-inner {
      background: $bg !important;
    }
  }

  .timeline-panel, .milestone-panel {
    background: transparent !important;
  }

  .cover {
    .nav-strip {
      background-color: $base-color;
    }
  }

  #header {
    .backtoworld {
      a {
        background-color: $base-color;
      }
    }
  }

  .character-menu.nav.nav-tabs {
    li.active {
      a,
      a:hover,
      a:focus {
        background-color: $base-color;
      }
    }
    li:not(.active) {
      a {
        background-color: $bg;
      }
    }
  }

  #metadata {
    color: white;
  }
} */

@mixin set-theme() {
  @extend %theme-#{$theme};
}