$gradient: 0.75;

.theme-panel {
    h1:before {
        position: fixed;
        display: block;
        bottom: 50%;
        right: -200px;
        width: 200px;
        background: #333;
        padding: 10px;
        text-align: center;
        transform: rotate(-90deg);
        transform-origin: left bottom 0;
        font-size: 14px;
        opacity: 0.7;
        line-height: normal;

        @media #{$threshold-l} {
            transform: none;
            right: calc(50% - 100px);
            bottom: 0;
            position: fixed;
            z-index: 10000;
        }
    }
}

@each $key,
$value in $themes-map {
    %#{$key} {
        $theme-base: $value;
        $base-color: map-get($theme-base, base);
        $bg: red;
        $text-color: blue;
        $link: lighten(desaturate(adjust-hue($base-color, -186), 6.31), 22.55);
        $invert: map-get($theme-base, invert);

        @if $invert {
            $bg: invert($soft-black);
            $text-color: invert($soft-white);
            $link: invert($link);
        }

        @else {
            $bg: $soft-black;
            $text-color: $soft-white;
        }

        $bg-image: map-get($theme-base, bg);
        $full-bg: linear-gradient(to left, rgba($bg, $gradient), $bg),
        $bg-image;
        background: $full-bg;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        color: $text-color;

        /********************************/
        // #region tags
        h1 {
            color: $base-color;

            .article-title & {
                color: $base-color;
            }
        }

        h2 {
            color: lighten(desaturate($base-color, 37.72), 9.22);
        }

        h3 {
            color: lighten(desaturate($base-color, 48.87), 16.47);
        }

        h4 {
            color: lighten(desaturate(adjust-hue($base-color, 156), 35.79), 21.37);
        }

        h5,
        h6 {
            color: lighten(desaturate(adjust-hue($base-color, 157), 12.95), 23.53);
        }

        * {
            border-color: $base-color;
        }

        a,
        a:hover,
        a:focus {
            color: $link;
        }

        blockquote {
            color: $soft-black;
            border-bottom: solid $base-color 3px;

            .author {
                color: inherit;
            }
        }

        // #endregion
        // #region Classes and IDs
        .article-panel {
            background-color: transparentize($color: $bg, $amount: .3);

            .heading {
                color: lighten(desaturate($base-color, 37.72), 9.22);
            }
        }

        .artist-credits {
            background: rgba($bg, .5);
        }

        .backtoworld a,
        .nav-strip a,
        a.menu-control {
            color: $bg;
        }

        .bookcover {
            .booktitle {
                color: $link;
                background: rgba($bg, .5);
            }

            @media #{$hover-only} {
                &:hover {
                    .booktitle {
                        color: $link;
                        background: $bg;
                    }
                }
            }
        }

        .campaign-panel {
            .btn-primary {
                background: transparent;
                color: $link;
            }
        }

        .character-menu.nav.nav-tabs {
            li.active {

                a,
                a:hover,
                a:focus {
                    background-color: $base-color;
                }
            }

            li:not(.active) {
                a {
                    background-color: $bg;
                }
            }
        }

        .cover {
            .nav-strip {
                background-color: $base-color;
            }
        }

        .heading,
        #header {
            @extend .theme-panel;

            h1:before {
                content: 'Theme: Template';
            }
        }

        #header {
            .backtoworld {
                a {
                    background-color: $base-color;
                }
            }
        }

        .map-box {
            background: $bg;
            color: $link;
        }

        #metadata {
            color: white;
        }

        .panel {
            &.panel-default {
                color: $text-color;
                background-color: rgba($bg, .5);

                a,
                a:hover,
                a:focus {
                    color: darken(desaturate(adjust-hue($link, -15), 43.86), 15.69);
                }
            }
        }

        .relation {
            h4 {
                color: lighten(desaturate($base-color, 48.87), 16.47);
            }
        }

        .spoiler-content {
            background-color: $base-color;
        }

        .table.table-striped {
            tbody {
                tr {
                    &:nth-of-type(odd) {
                        background: $bg;
                    }
                }
            }
        }

        .timeline {
            &:before {
                background-color: $base-color;
            }

            li {
                .tl-circ {
                    background: invert($base-color);
                    border-color: $base-color;
                }
            }

            @media #{$hover-only} {
                li {
                    .tl-circ:hover {
                        border-width: 2px;
                        border-color: invert($base-color);
                        background: $base-color;
                    }
                }
            }

            .timeline-panel,
            .milestone-panel {
                background: rgba($bg, .5) !important;
                color: $text-color;

                &:after {
                    border-left-color: rgba($bg, .5) !important;
                    border-right-color: rgba($bg, .5) !important;
                }

                .history-timelines {
                    a {
                        border-color: invert($bg);
                        background-color: rgba($bg, .5);
                        color: invert($link);
                    }
                }

                .tl-heading {
                    .header-icon {
                        background: rgba($bg, .5);
                    }
                }

                @media #{$hover-only} {
                    .history-timelines {
                        a {
                            background-color: rgba($bg, .5);
                        }
                    }

                    &:hover {
                        background-color: $soft-black !important;
                        color: white;

                        .tl-heading {
                            h4 {
                                color: lighten(desaturate(adjust-hue($base-color, 156), 35.79), 21.37);
                            }

                            small {
                                color: lighten(desaturate($base-color, 48.87), 16.47);
                            }

                            .header-icon {
                                background: $bg;
                            }
                        }

                        .history-timelines {
                            a {
                                border-color: invert($bg);
                                background-color: $bg;
                                color: invert($link);

                                &:hover {
                                    border-color: $bg;
                                    background-color: invert($bg);
                                    color: $link;
                                }
                            }
                        }

                        a,
                        a:hover,
                        a:focus {
                            color: $link;
                        }

                        &:after {
                            border-left-color: $bg !important;
                            border-right-color: $bg !important;
                        }
                    }
                }
            }

            .milestone {
                background: none;
            }
        }
    }

    .milestone {
        background: none;

        .milestone-panel {
            background: $bg !important;
        }
    }
}
}

@mixin set-theme() {
    @extend %theme-#{$theme};
}