// %timeline-panel-hover-style {
//   background-color: $soft-black;
//   color: white;
//   .tl-heading {
//     h4 {
//       color: #b1c6d0;
//     }
//     small {
//       color: #97aac9;
//     }
//     .header-icon {
//       background: $soft-black;
//     }
//   }
//   .history-timelines {
//     a {
//       border-color: white;
//       background: $soft-black;
//       &:hover {
//         background: white;
//       }
//     }
//   }
//   a,
//   a:hover,
//   a:focus {
//     color: $link-orange;
//   }
//   &:after {
//     border-left-color: $soft-black;
//     border-right-color: $soft-black;
//   }
// }
.era {
  .era-header {
    p:nth-of-type(2) {
      max-width: 60%;
      margin: 0 auto;
    }
  }
  @media #{$threshold-m} {
    & {
      .era-histories {
        border: solid #{$timeline_era--trace-color} 1px;
        border-radius: 20px;
        padding: 20px 5px;
      }
      .era-header {
        p:nth-of-type(2) {
          max-width: 100%;
        }
      }
    }
  }
}

$gap: 5px;
.timeline {
  padding: 0;
  .timeline-entry {
    margin-bottom: -100px;
    text-align: right;
    .header-icon {
      right: unset;
      left: 20px;
      top: -70px;
      border-width: 5px;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      height: 70px;
      width: 60px;
      .ra {
        margin: 0 auto;
        display: block;
      }
    }
    &-inverted {
      text-align: left;
      .header-icon {
        right: 20px;
        left: unset;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
    .timeline-panel {
      border-radius: 0px;
      border-top-width: 5px;
      transition: background-color 0.5s;
      z-index: 1000;
      margin-top: 0;
      &:before,
      &:after {
        transition: all 0.5s;
      }
      .history-timelines {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        text-align: center;
        align-items: center;
        >* {
          //flex-basis: 33%;
        }
        br {
          display: none;
        }
        strong {
          flex-basis: 100%;
        }
        a {
          flex-basis: calc(33% - (#{$gap} * 2));
          margin: $gap;
          align-self: center;
          padding: #{$gap} 1vw;
          border: 2px solid;
          display: inline-block;
        }
        .header-title {
          width: 100%;
          flex-basis: 100%;
        }
      }
    }
    .tl-circ {
      top: 37px;
    }
  }
  .milestone {
    transition: background-color 0.5s;
    text-align: center;
    margin-top: 170px;
    margin-bottom: 15px;
    padding: 0;
    .milestone-panel {
      border-radius: 0px;
      padding: 10px;
      .history-timelines {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        text-align: center;
        align-items: center;
        br {
          display: none;
        }
        strong {
          flex-basis: 100%;
        }
        a {
          flex-basis: calc(33% - (#{$gap} * 2));
          margin: $gap;
          align-self: center;
          padding: #{$gap} 1vw;
          border: 2px solid;
          display: inline-block;
        }
        .header-title {
          width: 100%;
          flex-basis: 100%;
        }
      }
      .header-icon {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  @media #{$threshold-m} {
    & {
      &:before {
        display: none;
      }
      .timeline-entry,
      .timeline-entry-milestone {
        margin: 75px 0;
        width: 100%;
        .tl-circ {
          display: none;
        }
        .timeline-panel,
        .milestone-panel {
          width: 100%;
          text-align: center;
          &:before,
          &:after {
            display: none;
          }
          .header-icon {
            top: -70px;
            left: 50%;
            right: unset;
            transform: translateX(-50%);
          }
          .history-timelines {
            a {
              flex-basis: calc(50% - (#{$gap} * 2));
            }
          }
        }
      }
      .timeline-entry-milestone {
        margin-top: 80px;
      }
    }
  }
}

#peripheral-content {
  #timeline {
    margin-top: 60px;
  }
}

// #region Stub for potential side scrolling timeline, current issue is with people not being able to side scroll easily without touch controls...
/*
.timeline {
  display: flex;
  &:before {
    display: none;
  }
}

.timeline-entry {
  flex-basis: 45%;
  margin-right: 50px;
  min-width: 600px;
  min-height: 400px;
  margin-bottom: 0;
  margin-top: 60px;
  &, &-inverted {
    text-align: center;
  }
}

.tl-circ {
  bottom: 0;
  top: unset;
  display: none;
}

timeline-panel {
  width: unset or 100%?
  float: unset;
  &:before, &:after {
    display: none;
  }
*/

// #endregion