// Colors
$active-color: #323283;
$soft-black: #333;
$soft-white: #c5c5bd;
$link-orange: #db8b0a;
$timeline-tan: #eae9e2;

// Media Queries
$threshold-m: 'screen and (max-width: 700px)';
$threshold-l: 'screen and (max-width: 960px)';
$hover-only: 'not all and (hover: none)';

// Timeline Colors
$timeline_era--trace-color: #800000;

/* Current options: 
lightblue -- Reserved for lethe,
darkgreen -- used for vile races category,
clay,
crimson, 
black -- used for the Onyx,
beef,
mango, 
strawberry-mint,
dijon,
turquoise -- not balanced
grape,
lemon-curd,
sky -- not balanced,
tardis,
bright-green
- any others will produce an error
*/
$theme: 'bright-green';

%timeline-panel-hover-style {
  background-color: $soft-black;
  color: white;
  .tl-heading {
    h4 {
      color: #b1c6d0;
    }
    small {
      color: #97aac9;
    }
    .header-icon {
      background: $soft-black;
    }
  }

  .history-timelines {
    a {
      border-color: white;
      background: $soft-black;
      &:hover {
        background: white;
      }
    }
  }

  a,
  a:hover,
  a:focus {
    color: $link-orange;
  }
  &:after {
    border-left-color: $soft-black;
    border-right-color: $soft-black;
  }
}

%main-body-only {
  #content {
    .col-md-8 {
      width: 100%;
      .col-md-6.col-md-offset-3 {
        width: 100%;
        text-align: center;
        margin: 0 auto;
      }
    }
    .col-md-4 {
      display: none;
    }
  }
}

/*
Fonts
*/
$cursive-fallback: Wingdings, cursive;
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
$font_handwriting: Indie Flower, $cursive-fallback;

@import url('https://s3.amazonaws.com/adurnari-fonts/adurnari_obscured/adurnari_obscured');

@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:100,200,300,400,500,700,800,900|Buda:300|Cinzel+Decorative:400,700,900|Comfortaa:300,400,700|Crushed|Fredericka+the+Great|Libre+Barcode+39|Libre+Barcode+39+Extended|MedievalSharp|Megrim|Metamorphous|Nova+Slim|Overlock:400,400i,700,700i,900,900i|Poiret+One|Pompiere|Share:400,400i,700,700i|UnifrakturMaguntia');
$font_Comfortaa: Comfortaa, $cursive-fallback;
$font_PoiretOne: Poiret One, $cursive-fallback;
$font_AdrimaMadurai: Arima Madurai, $cursive-fallback;
$font_Share: Share, $cursive-fallback;
$font_Overlock: Overlock, $cursive-fallback;
$font_Pompiere: Pompiere, $cursive-fallback;
// In use
$font_FrederickaTheGreat: Fredericka the Great, $cursive-fallback;
// in use
$font_CinzelDecorative: Cinzel Decorative, $cursive-fallback;
$font_Megrim: Megrim, $cursive-fallback;
$font_UnirakturMaguntia: UnifrakturMaguntia, $cursive-fallback;
$font_LibreBarcode39Extended: 'Libre Barcode 39 Extended', $cursive-fallback;
$font_Crushed: Crushed, $cursive-fallback;
$font_LibreBarcode39: 'Libre Barcode 39', $cursive-fallback;
// In use
$font_Metamorphus: Metamorphous, $cursive-fallback;
$font_NovaSlim: Nova Slim, $cursive-fallback;
$font_Buda: Buda, $cursive-fallback;
$font_MedievalSharp: MedievalSharp, $cursive-fallback;
// In use
$font_Obscured: Adurnari_Obscured, $cursive-fallback;

/// Images
$brick-bg-image: url(//worldanvil.com/uploads/images/c1cce834ee5296c6729c249c2a8ef483.jpg);

$building-bg-image: url(//worldanvil.com/uploads/images/4da65aacd32feb135531f73eb45b81bd.jpg);

$bark-bg-image: url(//worldanvil.com/uploads/images/765ac2d97030a779d1956d4079791bdd.jpg);

$rope-bg-image: url(//worldanvil.com/uploads/images/7750552439448f5216745a1b818504b3.jpg);

$woodpanel-bg-image: url(//worldanvil.com/uploads/images/d45c8258838bca1f38cdda89912d8127.jpg);

$sand-bg-image: url(//worldanvil.com/uploads/images/ed5c5bc1d5666af832f2c34342b9f735.jpg);

$marble-bg-image: url(//worldanvil.com/uploads/images/4ddc78dbf025a9e568ae1ed05d31dabd.png);

$bloodcells-bg-image: url(//worldanvil.com/uploads/images/19c43efcb36c0c29f700cfe3087f4b5e.jpg);

$fancy_red_wallpaper-bg-image: url(//worldanvil.com/uploads/images/fc354ec1b5bb8f176ab88f08d4316ba6.jpg);

$blue_crest_wallpaper-bg-image: url(//worldanvil.com/uploads/images/ed573acd4afb9885c85a1e8a2eda9128.png);
